@media (min-width: 751px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  @media (min-width: 401px) and (max-width: 750px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  body{
    background-color: rgb(114, 248, 143);
  }
  * {
    box-sizing: border-box;
  }
  h1{
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
    color: rgb(192, 76, 76);
  }
  p{
    font-size: 1.6em;
    font-style: italic;
    color: rgb(91, 52, 128)
  }
  section{
    overflow: auto;
    margin: 10px;
    border: 1px solid black;
    height: 500px;
    font-size: 1.8em;
    border-radius: 15px;

  }
  
  .first section{
    background-color: pink;
  }
  .second section{
    background-color: skyblue;
  }
  .third section{
    background-color: indianred;
  }
  .row{
    width: 100%;
  }
  #one, #two, #three{
    border: 1px solid black;
    padding-left:5px;
    overflow: auto;
  }
  #one {
    background-color: rgb(185, 115, 252);
  }
  #two{
    background-color: rgb(223, 223, 130);
  }
  #three{
    background-color: rgb(101, 99, 235);
  }